#fluid-container {
    height: 700px;
}

#hem {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: url('images/yamuna.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1150px 350px;
}

@media only screen and (max-width: 770px) {
    #hem {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        background-image: url('images/yamuna.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 600px 210px;
    }
}

#logologo {
    width: 200px;
}

@media only screen and (max-width: 770px) {
    #logologo {
        width: 150px;
    }
}

#headline {
    color: white;
    font-size: 25px;
}

@media only screen and (max-width: 770px) {
    #headline {
        color: white;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1100px) {
    #c {
        width: 1px;
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .tab-content {
        width: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
    #home {
        width: 100%;
        overflow: hidden;
    }
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

input {
    min-width: 20px;
    padding: 8px;
    margin: 0 4px 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
}

input {
    order: 0;
    align-self: auto;
}

#search {
    min-height: 48px;
    min-width: 10px;
    flex: 2 1 auto;
}

@media only screen and (max-width: 1100px) {
    #search {
        min-height: 48px;
        width: 200px;
        flex: 2 1 auto;
        display: none;
    }
}

#searchy {
    min-height: 48px;
    min-width: 10px;
    flex: 2 1 auto;
}

@media only screen and (max-width: 1100px) {
    #searchy {
        min-height: 48px;
        width: 200px;
        flex: 2 1 auto;
        display: none;
    }
}

#searchn {
    min-height: 48px;
    min-width: 10px;
    flex: 2 1 auto;
}

@media only screen and (max-width: 1200px) {
    #searchn {
        min-height: 48px;
        width: 200px;
        flex: 2 1 auto;
        display: none;
    }
}

.date-from {
    flex: 1 1 auto;
}

.date-to {
    flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

@media only screen and (max-width: 1100px) {
    .button {
        order: 4;
        flex: 0 1 auto;
        align-self: auto;
        display: none;
    }
}


/* 
  
  input {
  
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    height: 50px;
    
  }
   */


/* 
  .flex-item:nth-child(1) {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 2 1 auto;
      -ms-flex: 2 1 auto;
      flex: 2 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      }
  
  .flex-item:nth-child(2) {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      }
  
  .flex-item:nth-child(3) {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      }
  
  .flex-item:nth-child(4) {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      }
   */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    min-height: 48px;
    width: 600%;
    flex: 2 1 auto;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    color: white;
    border-radius: 5px;
    width: 200px;
    background-color: black;
    border: 1px solid black;
}


/*Resize the wrap to see the search bar change!*/

@media only screen and (min-width: 1100px) {
    .wrap {
        width: 30%;
        transform: translate(-50%, -50%);
        display: none;
    }
}

#mobile {
    background-color: blue;
    padding-top: 4px;
    display: flex;
}

@media only screen and (min-width: 770px) {
    #mobile {
        background-color: blue;
        padding-top: 4px;
        display: none;
    }
}

#log {
    width: 70px;
    color: white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px;
}

#log:hover {
    color: white;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-radius: 5px;
}